
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="archive-header pt-50">
        <div class="container">
            <h2 class="font-weight-900">Danh sách sản phẩm quà tặng</h2>

            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="container">
        <div class="loop-grid mb-30">
            <div class="row">
                @foreach (var item1 in ViewBag.List)
                {
                    <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                        <div class="post-card-1 border-radius-10 hover-up">
                            <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url('/Content/assets/imgs/@item1.image')">
                                <a class="img-link" href="/Product/Detail/@item1.idProduct"></a>
                                <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>
                            </div>
                            <div class="post-content p-30" style="height : 100px !important">
                                <div class="d-flex post-card-content">
                                    <h5 class="post-title mb-30 font-weight-900">
                                        <a href="/Product/Detail/@item1.idProduct">@item1.name (@item1.point điểm)</a>
                                    </h5>
                                   
                                </div>
                            </div>
                        </div>
                    </article>
                }
            </div>
        </div>
    </div>

</main>

