
@{
    ViewBag.Title = "TestExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="archive-header pt-50">
        <div class="container">
            <h2 class="font-weight-900">Bài Test đầu vào</h2>

            <div class="bt-1 border-color-1 mt-30 mb-50"></div>
        </div>
    </div>
    <div class="container">
        <form id="form-test" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="fVgUlhkQqqFGbimrBjLSb8qQDn5kmBRSBBdMp4s1KrG5gE5mJ9Shn6rTJITrUa9g">
            <section id="part-2" class="test-part">
                <h2 class="part-number">PART 1</h2>
                <div class="mcq-wrapper">
                    <span class="question-num">1.</span>
                    <div class="audio-player-wrapper">
                        <audio controls="" controlslist="nodownload">
                            <source src="~/Content/lis.mp3" type="audio/mpeg">
                            <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                        </audio>
                    </div>
                    <span class="question-content">Mark your answer on your answer sheet.</span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="2-A" type="radio" name="2" value="A">
                            <label for="2-A">
                                (A)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-B" type="radio" name="2" value="B">
                            <label for="2-B">
                                (B)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-C" type="radio" name="2" value="C">
                            <label for="2-C">
                                (C)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">2.</span>
                    <div class="audio-player-wrapper">
                        <audio controls="" controlslist="nodownload">
                            <source src="~/Content/lis.mp3" type="audio/mpeg">
                            <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                        </audio>
                    </div>
                    <span class="question-content">Mark your answer on your answer sheet.</span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="2-A" type="radio" name="2" value="A">
                            <label for="2-A">
                                (A)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-B" type="radio" name="2" value="B">
                            <label for="2-B">
                                (B)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-C" type="radio" name="2" value="C">
                            <label for="2-C">
                                (C)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">3.</span>
                    <div class="audio-player-wrapper">
                        <audio controls="" controlslist="nodownload">
                            <source src="~/Content/lis.mp3" type="audio/mpeg">
                            <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                        </audio>
                    </div>
                    <span class="question-content">Mark your answer on your answer sheet.</span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="2-A" type="radio" name="2" value="A">
                            <label for="2-A">
                                (A)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-B" type="radio" name="2" value="B">
                            <label for="2-B">
                                (B)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-C" type="radio" name="2" value="C">
                            <label for="2-C">
                                (C)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">4.</span>
                    <div class="audio-player-wrapper">
                        <audio controls="" controlslist="nodownload">
                            <source src="~/Content/lis.mp3" type="audio/mpeg">
                            <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                        </audio>
                    </div>
                    <span class="question-content">Mark your answer on your answer sheet.</span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="2-A" type="radio" name="2" value="A">
                            <label for="2-A">
                                (A)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-B" type="radio" name="2" value="B">
                            <label for="2-B">
                                (B)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-C" type="radio" name="2" value="C">
                            <label for="2-C">
                                (C)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">5.</span>
                    <div class="audio-player-wrapper">
                        <audio controls="" controlslist="nodownload">
                            <source src="~/Content/lis.mp3" type="audio/mpeg">
                            <span class="error">Trình duyệt Web của bạn không hỗ trợ chức năng nghe audio của chúng tôi.</span>
                        </audio>
                    </div>
                    <span class="question-content">Mark your answer on your answer sheet.</span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="2-A" type="radio" name="2" value="A">
                            <label for="2-A">
                                (A)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-B" type="radio" name="2" value="B">
                            <label for="2-B">
                                (B)
                            </label>
                        </div>
                        <div class="option">
                            <input id="2-C" type="radio" name="2" value="C">
                            <label for="2-C">
                                (C)
                            </label>
                        </div>
                    </div>
                </div>
            </section>
            <section id="part-5" class="test-part">
                <h2 class="part-number">PART 2</h2>
                <div class="mcq-wrapper">
                    <span class="question-num">1.</span>
                    <span class="question-content ">
                        The president said that it was the _____ meeting he has ever had.
                    </span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="21-A" type="radio" name="21" value="A">
                            <label for="21-A">
                                (A)
                                more productive
                            </label>
                        </div>
                        <div class="option">
                            <input id="21-B" type="radio" name="21" value="B">
                            <label for="21-B">
                                (B)
                                productive
                            </label>
                        </div>
                        <div class="option">
                            <input id="21-C" type="radio" name="21" value="C">
                            <label for="21-C">
                                (C)
                                most productive
                            </label>
                        </div>
                        <div class="option">
                            <input id="21-D" type="radio" name="21" value="D">
                            <label for="21-D">
                                (D)
                                productivity
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">2.</span>
                    <span class="question-content ">
                        By the time Ms. Valspar retires as a president of Movene Techonologies, she _____ to increase the company's market share significantly.
                    </span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="22-A" type="radio" name="22" value="A">
                            <label for="22-A">
                                (A)
                                manages
                            </label>
                        </div>
                        <div class="option">
                            <input id="22-B" type="radio" name="22" value="B">
                            <label for="22-B">
                                (B)
                                will have managed
                            </label>
                        </div>
                        <div class="option">
                            <input id="22-C" type="radio" name="22" value="C">
                            <label for="22-C">
                                (C)
                                managed
                            </label>
                        </div>
                        <div class="option">
                            <input id="22-D" type="radio" name="22" value="D">
                            <label for="22-D">
                                (D)
                                has been managing
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">3.</span>
                    <span class="question-content ">
                        Readers feel that the city's best-selling newspaper fails to provide _____ news stories.
                    </span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="23-A" type="radio" name="23" value="A">
                            <label for="23-A">
                                (A)
                                substantial
                            </label>
                        </div>
                        <div class="option">
                            <input id="23-B" type="radio" name="23" value="B">
                            <label for="23-B">
                                (B)
                                substance
                            </label>
                        </div>
                        <div class="option">
                            <input id="23-C" type="radio" name="23" value="C">
                            <label for="23-C">
                                (C)
                                substantially
                            </label>
                        </div>
                        <div class="option">
                            <input id="23-D" type="radio" name="23" value="D">
                            <label for="23-D">
                                (D)
                                substantiate
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">4.</span>
                    <span class="question-content ">
                        Good business planning includes developing as overall _____, addressing likely objections and demonstrating why potential buyers need the product or service.
                    </span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="24-A" type="radio" name="24" value="A">
                            <label for="24-A">
                                (A)
                                strategy
                            </label>
                        </div>
                        <div class="option">
                            <input id="24-B" type="radio" name="24" value="B">
                            <label for="24-B">
                                (B)
                                strategic
                            </label>
                        </div>
                        <div class="option">
                            <input id="24-C" type="radio" name="24" value="C">
                            <label for="24-C">
                                (C)
                                strategically
                            </label>
                        </div>
                        <div class="option">
                            <input id="24-D" type="radio" name="24" value="D">
                            <label for="24-D">
                                (D)
                                strategize
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mcq-wrapper">
                    <span class="question-num">5.</span>
                    <span class="question-content ">
                        They ask you if you want to buy things you don't in all _____ want.
                    </span>
                    <div class="options-wrapper">
                        <div class="option">
                            <input id="25-A" type="radio" name="25" value="A">
                            <label for="25-A">
                                (A)
                                truth
                            </label>
                        </div>
                        <div class="option">
                            <input id="25-B" type="radio" name="25" value="B">
                            <label for="25-B">
                                (B)
                                honesty
                            </label>
                        </div>
                        <div class="option">
                            <input id="25-C" type="radio" name="25" value="C">
                            <label for="25-C">
                                (C)
                                honestly
                            </label>
                        </div>
                        <div class="option">
                            <input id="25-D" type="radio" name="25" value="D">
                            <label for="25-D">
                                (D)
                                truly
                            </label>
                        </div>
                    </div>
                </div>
            </section>
            <section id="part-6" class="test-part">
                <h2 class="part-number">PART 3</h2>
                <div class="mcqg-wrapper clearfix">
                    <div class="clearfix">
                        <div class="reading-text-wrapper text-en">
                            <div class="paragraph-p7">
                                <p class="reading-text-paragraph" style="">
                                    <span class="paragraph-sentence">Claire Staley <br></span>
                                    <span class="paragraph-sentence">874 Country Lane <br></span>
                                    <span class="paragraph-sentence">Stillwater, OK 74074</span>
                                </p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Dear Ms. Staley,</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Best Link Telecom recently upgraded its network and is offering high-speed Internet in your area. We began delivering service _____(1) July 17.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Best Link _____(2) fast and reliable service for the lowest cost. We promise to match the price of any competitor charging less than us.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">As our customer, you may use our <span class="q121-1">on</span>line storage services for free. Whether you're downloading videos and photos or sharing your work, you'll be able to get it d<span class="q121-1">on</span>e in less time than ever. _____(3).</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">And those already using our telephone service can get a discount of 20 percent by upgrading to a high-speed Internet package. The reduced rates will be reflected in your _____(4) for the following month.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Please call 555-1573 during regular business hours to arrange an installation appointment.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Yours truly,</span></p>
                                <p class="reading-text-paragraph" style="">
                                    <span class="paragraph-sentence">George Hyde <br></span>
                                    <span class="paragraph-sentence">Best Link Telecom Sales</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">1.</span>
                        <span class="question-content ">
                            (1)
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="27-A" type="radio" name="27" value="A">
                                <label for="27-A">
                                    (A)
                                    to
                                </label>
                            </div>
                            <div class="option">
                                <input id="27-B" type="radio" name="27" value="B">
                                <label for="27-B">
                                    (B)
                                    within
                                </label>
                            </div>
                            <div class="option">
                                <input id="27-C" type="radio" name="27" value="C">
                                <label for="27-C">
                                    (C)
                                    on
                                </label>
                            </div>
                            <div class="option">
                                <input id="27-D" type="radio" name="27" value="D">
                                <label for="27-D">
                                    (D)
                                    off
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">2.</span>
                        <span class="question-content ">
                            (2)
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="28-A" type="radio" name="28" value="A">
                                <label for="28-A">
                                    (A)
                                    improves
                                </label>
                            </div>
                            <div class="option">
                                <input id="28-B" type="radio" name="28" value="B">
                                <label for="28-B">
                                    (B)
                                    guarantees
                                </label>
                            </div>
                            <div class="option">
                                <input id="28-C" type="radio" name="28" value="C">
                                <label for="28-C">
                                    (C)
                                    demands
                                </label>
                            </div>
                            <div class="option">
                                <input id="28-D" type="radio" name="28" value="D">
                                <label for="28-D">
                                    (D)
                                    receives
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">3.</span>
                        <span class="question-content ">
                            (3)
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="29-A" type="radio" name="29" value="A">
                                <label for="29-A">
                                    (A)
                                    This service is no longer available in your area.
                                </label>
                            </div>
                            <div class="option">
                                <input id="29-B" type="radio" name="29" value="B">
                                <label for="29-B">
                                    (B)
                                    Your bill will vary based on how many files you store.
                                </label>
                            </div>
                            <div class="option">
                                <input id="29-C" type="radio" name="29" value="C">
                                <label for="29-C">
                                    (C)
                                    This will cause the cost of computers to be cut.
                                </label>
                            </div>
                            <div class="option">
                                <input id="29-D" type="radio" name="29" value="D">
                                <label for="29-D">
                                    (D)
                                    Our high-speed Internet service can handle it all.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">4.</span>
                        <span class="question-content ">
                            (4)
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="30-A" type="radio" name="30" value="A">
                                <label for="30-A">
                                    (A)
                                    password
                                </label>
                            </div>
                            <div class="option">
                                <input id="30-B" type="radio" name="30" value="B">
                                <label for="30-B">
                                    (B)
                                    statement
                                </label>
                            </div>
                            <div class="option">
                                <input id="30-C" type="radio" name="30" value="C">
                                <label for="30-C">
                                    (C)
                                    demonstration
                                </label>
                            </div>
                            <div class="option">
                                <input id="30-D" type="radio" name="30" value="D">
                                <label for="30-D">
                                    (D)
                                    repair
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="part-7" class="test-part">
                <h2 class="part-number">PART 4</h2>
                <div class="mcqg-wrapper clearfix">
                    <div class="clearfix">
                        <div class="reading-text-wrapper text-en">
                            <div class="paragraph-p7">
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence"><strong><em>Renfrew Gymnasium</em>: For all Members</strong></span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">At Renfrew Gymnasium, we always do our best to ensure that you have a pleasant and safe visit. To that end, <span class="q911-1">we would like to remind all members about our policies regarding personal items</span>. -[1]-.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">The gym provides lockers in the changing rooms to store your possessions while you work out. However, please do not leave highly valuable items in your lockers for security reasons. Renfrew Gymnasium is not responsible for the loss of any items left in lockers. -[2]-. <span class="q913-1">You may leave <span class="q913-2">valuables</span> with our front desk staff, who will put them in a safety deposit box</span>. -[3]-.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence"><span class="q912-1">Should you lose any belongings during your visit, please notify a staff member at the front desk</span>. You may also ask them to see if anyone has turned your item in to the lost-and-found.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">-[4]-. Thank you for your cooperation in these matters, and speak to one of our helpful employees should you have any questions or concerns.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Management</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">1.</span>
                        <span class="question-content ">
                            What is the purpose of the notice?
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="31-A" type="radio" name="31" value="A">
                                <label for="31-A">
                                    (A)
                                    To describe a gymnasium's added service facilities
                                </label>
                            </div>
                            <div class="option">
                                <input id="31-B" type="radio" name="31" value="B">
                                <label for="31-B">
                                    (B)
                                    To announce changes to a staff member work policy
                                </label>
                            </div>
                            <div class="option">
                                <input id="31-C" type="radio" name="31" value="C">
                                <label for="31-C">
                                    (C)
                                    To provide details on emergency safety procedures
                                </label>
                            </div>
                            <div class="option">
                                <input id="31-D" type="radio" name="31" value="D">
                                <label for="31-D">
                                    (D)
                                    To inform members of guidelines concerning belongings
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">2.</span>
                        <span class="question-content ">
                            According to the notice, what should gym users do when reporting a loss?
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="32-A" type="radio" name="32" value="A">
                                <label for="32-A">
                                    (A)
                                    Visit the facility's front desk
                                </label>
                            </div>
                            <div class="option">
                                <input id="32-B" type="radio" name="32" value="B">
                                <label for="32-B">
                                    (B)
                                    Fill out a complaint form
                                </label>
                            </div>
                            <div class="option">
                                <input id="32-C" type="radio" name="32" value="C">
                                <label for="32-C">
                                    (C)
                                    Write to a head office
                                </label>
                            </div>
                            <div class="option">
                                <input id="32-D" type="radio" name="32" value="D">
                                <label for="32-D">
                                    (D)
                                    Post a note on a bulletin board
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">3.</span>
                        <span class="question-content ">
                            In which of the positions marked [1], [2], [3], and [4] does the following sentence best belong? "They will provide you with a ticket which must be presented to retrieve your stored items."
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="33-A" type="radio" name="33" value="A">
                                <label for="33-A">
                                    (A)
                                    [1]
                                </label>
                            </div>
                            <div class="option">
                                <input id="33-B" type="radio" name="33" value="B">
                                <label for="33-B">
                                    (B)
                                    [2]
                                </label>
                            </div>
                            <div class="option">
                                <input id="33-C" type="radio" name="33" value="C">
                                <label for="33-C">
                                    (C)
                                    [3]
                                </label>
                            </div>
                            <div class="option">
                                <input id="33-D" type="radio" name="33" value="D">
                                <label for="33-D">
                                    (D)
                                    [4]
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mcqg-wrapper clearfix">
                    <div class="clearfix">
                        <div class="reading-text-wrapper text-en">
                            <div class="paragraph-p7">
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Deloit Industries, a leading producer of construction equipment, plans to open another factory in 2007. The new factory will be built in Rayong, Thailand, where a number of other large-scale manufacturing companies are located.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence"><span class="q186-1">The company's decision was criticized by many local officials, who claim that Deloit Industries plans to exploit local laborers.</span> In the last decade, many companies have migrated to Thailand because the country's average wages are significantly less than those in North America and Europe. By operating in Thailand, companies are able to decrease their annual expenditures and increase profitability.</span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence">Unfortunately, these profits do not always benefit the local communities. According to a company spokesman, however, Deloit Industries will implement a couple of strategies that will benefit the local laborers and their families. <span class="q187-1">Among these </span>"positive plans"<span class="q187-2"> are providing health insurance for employees and their families, and giving academic scholarships to employees' children.</span></span></p>
                                <p class="reading-text-paragraph" style=""><span class="paragraph-sentence"><span class="q188-1">The company has implemented similar strategies for employees working at its mines in South Africa, processing plants in the Philippines, and packaging faciities in Brazil.</span> In each place, the company has attempted to hire local workers and integrate itself into the local community. In July, the company hosted a charity event in Buenos Aires, Argentina, to raise money for local schools.</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">4.</span>
                        <span class="question-content ">
                            According to the article, why has Deloit Industries' decision been criticized?
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="34-A" type="radio" name="34" value="A">
                                <label for="34-A">
                                    (A)
                                    It will probably exploit the environment.
                                </label>
                            </div>
                            <div class="option">
                                <input id="34-B" type="radio" name="34" value="B">
                                <label for="34-B">
                                    (B)
                                    It does not encourage foreign investment.
                                </label>
                            </div>
                            <div class="option">
                                <input id="34-C" type="radio" name="34" value="C">
                                <label for="34-C">
                                    (C)
                                    It will take advantage of regional workers.
                                </label>
                            </div>
                            <div class="option">
                                <input id="34-D" type="radio" name="34" value="D">
                                <label for="34-D">
                                    (D)
                                    It makes employees work longer hours.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">5.</span>
                        <span class="question-content ">
                            What does Deloit Industries plan to do at the facility in Rayong?
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="35-A" type="radio" name="35" value="A">
                                <label for="35-A">
                                    (A)
                                    To provide workers better safety equipment
                                </label>
                            </div>
                            <div class="option">
                                <input id="35-B" type="radio" name="35" value="B">
                                <label for="35-B">
                                    (B)
                                    To give medical coverage to employees
                                </label>
                            </div>
                            <div class="option">
                                <input id="35-C" type="radio" name="35" value="C">
                                <label for="35-C">
                                    (C)
                                    To eliminate harmful waste products
                                </label>
                            </div>
                            <div class="option">
                                <input id="35-D" type="radio" name="35" value="D">
                                <label for="35-D">
                                    (D)
                                    To introduce a new mining technology
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mcq-wrapper">
                        <span class="question-num">6.</span>
                        <span class="question-content ">
                            What is NOT mentioned as another one of Deloit Industries' businesses?
                        </span>
                        <div class="options-wrapper">
                            <div class="option">
                                <input id="36-A" type="radio" name="36" value="A">
                                <label for="36-A">
                                    (A)
                                    Mining facilities
                                </label>
                            </div>
                            <div class="option">
                                <input id="36-B" type="radio" name="36" value="B">
                                <label for="36-B">
                                    (B)
                                    Processing plants
                                </label>
                            </div>
                            <div class="option">
                                <input id="36-C" type="radio" name="36" value="C">
                                <label for="36-C">
                                    (C)
                                    Packaging factories
                                </label>
                            </div>
                            <div class="option">
                                <input id="36-D" type="radio" name="36" value="D">
                                <label for="36-D">
                                    (D)
                                    Automobile manufacturing
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <button id="practice-test-submit" class="submit-test submit-btn oval-btn" style="min-width: 180px;">
                Nộp bài
            </button>
        </form>
    </div>

</main>

