<footer class="pt-50 pb-20 bg-grey">
    <div class="container">
        
        <div class="footer-copy-right pt-30 mt-20 wow fadeInUp animated">
            <p class="float-md-right font-small text-muted">
                Design by <a href="/trang-chu" target="_blank">N2F Technology</a> | All rights reserved
            </p>
        </div>
    </div>
</footer>
