
<div id="layoutSidenav_nav">
    @{ var userInfomatiom = (ToeicAspMVC.Models.User)Session["ADMIN"]; }
    <nav style="background-color: #CCCCCC !important" class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="/AdminHome/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Bảng điều khiển
                </a>
                <a class="nav-link collapsed" href="/AdminDistance/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Lộ trình học
                </a>
                <a class="nav-link collapsed" href="/AdminProduct/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Sản phẩm quà tặng
                </a>
                <a class="nav-link collapsed" href="/AdminUser/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý tài khoản
                </a>
                <a class="nav-link collapsed" href="/AdminCourse/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý khóa học
                </a>
                <a class="nav-link collapsed" href="/AdminPost/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Quản lý bài đăng
                </a>
                
            </div>
        </div>
    </nav>
</div>





